@font-face {
  font-family: "Gobold Bold";
  src: url(assets/fonts/gobold-bold.otf);
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url(assets/fonts/open-sans-condensed-light.otf);
}

h1, h2, h3, ion-card-title{
  font-family: "Gobold Bold"
}

p {
  font-family: "Open Sans Condensed"
}

ion-content{
  background-color: #cccccc;
  //opacity: 0.5;
  @media (max-width: 720px) {
    --background: url("/assets/img/background-full.png");
  }
  @media (min-width: 721px) {
    --background: url("/assets/img/background.png");
  }
  background-size: 100% 100%;
}

//ion-split-pane{
//  ion-menu{
//    ion-content{
//      --background: url("/assets/img/background-menu.png") 0/100% no-repeat
//    }
//  }
//}
