<ion-header>
  <ion-toolbar [color]="themeService.currentTheme.backgroundColor">

    <ion-buttons slot="start">
      <ion-button [ngStyle]="{'visibility': menuVisible ? 'inherit' :'hidden', 'width': '48px'}">
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center" [ngStyle]="{'color': themeService.currentTheme.color}">
      {{title}}
    </ion-title>

    <ion-buttons slot="end" >
      <ion-button (click)="toProfile()" [ngStyle]="{'visibility': profileVisible && authService.loggedIn.value ? 'inherit' :'hidden', 'width': '48px'}">
        <ion-icon name="contact" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
