<ion-header>
  <ion-toolbar [color]="themeService.currentTheme.backgroundColor">
    <ion-buttons slot="end">
      <ion-button (click)="toProfile()">
        <ion-icon slot="icon-only" name="contact" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" [ngStyle]="{'color': themeService.currentTheme.color}">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
