<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center">
  <ion-img class="ion-padding" [src]="'assets/img/logo.jpg'"></ion-img>
</ion-content>

<ion-footer>
  <div class="ion-padding">
    <ion-button color="primary" expand="block" (click)="login('facebook')">
      <ion-icon name="logo-facebook"></ion-icon>
      Iniciar con Facebook
    </ion-button>
    <ion-button
      class="ion-margin-top"
      color="danger"
      expand="block"
      (click)="login('google')"
    >
      <ion-icon name="logo-google"></ion-icon>
      Iniciar con Google
    </ion-button>
    <ion-button
      class="ion-margin-top"
      color="dark"
      expand="block"
      (click)="login('mail')"
    >
      <ion-icon name="mail"></ion-icon>
      Iniciar con eMail
    </ion-button>
  </div>
</ion-footer>
