ion-content{
  //--background: url("/assets/img/background-login.png") 50% 0;
  #container{
    --overflow: hidden;
    height: 100%;
    @media(max-height: 768px){
      background-size: 100%;
    }
    @media(min-height: 769px){
      background-size: 100% 100%;
    }
    ion-img{
      display: inline;
    }
  }
}

ion-footer{
  ion-button{
    ion-label{
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1rem;
      font-weight: 600;
      margin-left: 10px;
    }
  }
}
