<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <app-header
        [title]="'Menú'"
        [menuVisible]="false"
        [profileVisible]="false"
      ></app-header>
      <ion-content>
        <ion-list class="ion-no-padding ion-no-margin">
          <ng-container *ngFor="let p of appPages">
            <ion-menu-toggle
              auto-hide="false"
              *ngIf="
                authService.loggedIn.value ||
                (p.showWhenNotLogged && !authService.loggedIn.value)
              "
            >
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
