ion-card {
  background-size: cover;
  min-height: 100px;
  
  ion-card-title {
    letter-spacing: 0.025rem;
    color: white;
    font-size: 1.75rem;
  }

  ion-icon{
    @extend ion-card-title;
    font-size: 3rem;
  }

  ion-card-subtitle{
    label{
      background-color: white;
      padding: 0.125rem;
      color: black;
      font-family: "Open Sans Condensed";
      font-size: 0.9rem;
    }
  }
}
