.ion-activatable {
  position: relative;
  overflow: hidden;
}

ion-card {
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  height: 160px;

  ion-grid, ion-row{
    height: 100%;
  }

  ion-card-title {
    padding: 0.25rem;
    background-color: rgba(0,0,0, 0.75);
    display:inline-block;
    letter-spacing: 0;
    color: white;
    &.ios{
      font-size: 1.4rem;
    }
    &.md{
      font-size: 1.6rem;
    }

  }

  ion-card-header {
    height: 100%;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  ion-card-subtitle{
    margin-bottom: 0.5rem;
  }

  ion-icon{
    color: white;
    font-size: 3rem;
    padding-left: 4px;
  }

  ion-card-subtitle{
    label{
      background-color: white;
      padding: 0.125rem;
      color: black;
      font-family: "Open Sans Condensed";
      line-height: 1.75rem;
      font-weight: 500;
      font-size: 0.8rem;
    }
  }

  ion-label label{
    &.expiration-date{
      color: white;
    }
  }
}
