ion-button{
  ion-label{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
  }
}

ion-card {
  background-color: white !important;

  ion-card-title{
    font-size: 1.25rem;
  }

  ion-card-content{
    text-transform: uppercase;
    padding: 0 12px 0 12px;
  }

  qrcode{
    img{
      max-width: 250px;
      max-height: 250px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

}

