ion-avatar{
  width: 80px;
  height: 80px;
}

#no-redemptions{
  white-space: pre-wrap;
}

ion-card-header{
  ion-card-title{
    text-overflow: ellipsis;
    overflow: hidden;
    //white-space: nowrap;
  }
  ion-card-subtitle{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 4px;
  }
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  strong{
    font-weight: 500;  
  }
}

//ion-button{
//  ion-label{
//    font-family: 'Open Sans Condensed', sans-serif;
//    font-size: 1rem;
//    font-weight: 600;
//    margin-left: 10px;
//    &.ios{
//      text-transform: uppercase;
//      letter-spacing: 0.05rem;
//    }
//  }
//}

.redeemed-coupon{
  ion-thumbnail{
    width: 100%;
    height: 100%;
    img{
      height: 64px;
      width: 64px;
    }
  }
}
