<app-header [title]="'Recomendados'"></app-header>

<ion-content>
  <ion-card
    *ngFor="let recommendation of recommendedService.recommended"
    class="ion-activatable"
    [ngStyle]="{ 'background-image': 'url(' +recommendation.imageUrl + ')' }"
  >
    <ion-grid>
      <ion-row class="ion-justify-content-start ion-align-items-center">
        <ion-col size="12">
          <ion-card-header>
            <div>
              <h1>{{recommendation.title}}</h1>
              <ion-card-subtitle
                ><label
                  >{{recommendation.description}}</label
                ></ion-card-subtitle
              >
            </div>
          </ion-card-header>
        </ion-col>
      </ion-row>
      <ion-row class="info-row ion-justify-content-end" *ngIf="recommendation.info">
        <div class="info-tag">
          <h2>{{recommendation.info}}</h2>
        </div>
      </ion-row>
    </ion-grid>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</ion-content>
