.ion-activatable {
  position: relative;
  overflow: hidden;
}

ion-card {
  background-size: 100% 100%;

  .info-row{
    margin-top: -15px;
  }

  .info-tag{
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: rgba(179, 183, 33, 0.75);
    h2{
      color: white;
      margin: 4px;
      font-size: 20px;
    }
  }

  ion-card-title, h1 {
    padding: 0.25rem;
    background-color: rgba(0,0,0, 0.75);
    display:inline-block;
    letter-spacing: 0.025rem;
    color: white;
    font-size: 2.00rem;
    margin-top: 10px;
  }

  ion-card-header {
    height: 100%;
    padding: 4px;
  }

  ion-card-subtitle{
    margin-bottom: 0.5rem;
  }

  ion-icon{
    @extend ion-card-title;
    font-size: 3rem;
  }

  ion-card-subtitle{
    label{

      background-color: white;
      padding: 0.125rem;
      color: black;
      font-family: "Open Sans Condensed";
      line-height: 24px;
      font-weight: 500;
      font-size: 0.8rem;
    }
  }

  ion-label label{
    &.expiration-date{
      color: white;
    }
  }
}
