.ion-activatable {
  position: relative;
  overflow: hidden;
}

ion-card{
  background-color: white;
  background-size: cover;
  height: 150px;
  max-width: 400px;

  ion-thumbnail{
    width: 100%;
    height: 100%;
  }

  ion-grid, ion-row{
    height: 100%;
  }

  .expiration-date{
    padding: 2px;
    color: black;
    font-weight: 300;
    font-size: 12px;
  }

  h1{
    color: black;
    height: 35px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 4px;

    padding: 4px;

    display:inline-block;
    letter-spacing: 0.025rem;
  }

  ion-card-subtitle{
    height: 80px;
    margin-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;

    label{
      padding: 4px 0 4px 0;
      color: white;
      font-family: "Open Sans Condensed";
      font-size: 14px;
      line-height: 27px;
      font-weight: 400;
      background-color: rgba(0,0,0, 0.75);
      text-transform: uppercase;
      letter-spacing: 0.02em;
      box-shadow: 5px 0 0 rgba(0,0,0, 0.75), -5px 0 0 rgba(0,0,0, 0.75);
    }
  }
}
