<app-header [title]="'Cuponera'"></app-header>

<ion-content>

    <ion-card *ngFor="let coupon of couponService.coupons"
              class="ion-text-right"
              (click)="viewDetail(coupon)"
              [ngStyle]="{ 'background-image': 'url(' +coupon.imageUrl + ')' }"
    >

        <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-start ion-align-items-center">
                <ion-col size="12">
                    <ion-card-header>
                        <div class="ion-padding-right">
                            <!-- TODO: Agregar "hoy", "mañana", "pasado", etc. cuando las fechas estén próximas-->
                            <label class="expiration-date">Vigente hasta {{coupon.endsAt.format("DD-MMM-YYYY")}} / {{coupon.endsAt.format("hh:mm")}}</label>
                            <h1>{{coupon.title}}</h1>
                            <ion-card-subtitle><label>{{coupon.description}}</label></ion-card-subtitle>
                        </div>
                    </ion-card-header>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

</ion-content>
