ion-card{
  background-color: white;
  background-size: cover;
  height: 192px;

  ion-grid, ion-row{
    height: 100%;
  }

  h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  ion-card-header{
    padding: 12px;
  }

  ion-card-subtitle{
    margin-bottom: 0.5rem;
    label{
      background-color: white;
      padding: 0.125rem;
      color: black;
      font-family: "Open Sans Condensed";
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
    }
  }
}
